{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1 style="color:#{{statusColor}}">Service status {{statusText}}</h1>
  </div>
</div>
<div class="container">
  <div>
  <h3 style="text-align:center"><span class="glyphicon glyphicon-info-sign"></span>Currently active service events</h3>
</div>
  <hr>
  <div class="alert alert-info text-center" role="alert">
    {% for event in activeEvents %}
        <li><a href="/events/{{event.id}}" class="alert-link">{{ event.description }} | {{ event.dateStart }} | {{ event.dateEnd }} | {{ event.status }} | {{ event.id}}</a></li>
    {% empty %}
        <p>No events to display</p>
    {% endfor %}
  </div>
  
  <div class="row">

  </div> <!-- row -->

</div>
{% endblock %}